/*general rules*/
@font-face{
  font-family: Industria;
  src: url("./font/IndustriaLTStd-Solid.otf") format("opentype");
}

h1{
  font-size: 50px;
}

h3{
  font-size: 25px; 
}

a{
  color: black;
}

html{
  font-family: 'Industria';
}

.content-wrapper{
  position: relative;
  width: 100%;
}

/*background*/

.background-container{
  top: 0;
  left: 0;
  position: fixed;
  max-height: 100vh;
  z-index: -1000;
  overflow: hidden;
  height: 100vh
}

/*picture*/

#my-picture{
  max-height: 100vh;
  position: absolute;
  right: 0px;
  z-index: -100;
}

/*buttons*/

.main-content{
  position: absolute;
  top: 20px;
  left: 300px; 
}

.button-container{
  display: block;
}

/*modal stuff*/

#dimmer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  display: none
}

.modal-window {
  position: absolute;
  display: none;
  color: black;
  z-index: 2;
  padding: 50px;
  border-radius: 10px;
  background: grey;
  width: 60%;
  height: 60%;
  overflow: auto;
  padding: 5px;
}

/*about section*/

.about-content{
  display: block;
  width: 100%
}

.about-text{
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  padding-top: 100px;
}

/*contact section*/

.contact-inside{
  display: block;
  padding-top: 100px;
}

.link{
  width: 33%;
  text-align: center;
}

.icons{
  text-decoration: none;
  display: flex;
  top: 10px;
  width: 100%;
  font-size: 50px;
}

/*projects section*/

#projects-window{
  width: 80%;
  height: 80%;
}

.projects-container{
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 90%;
}

.indiv-project{
  position: relative;
}

.project-pic{
  position: relative;
  width: 100%
}

.project-bod{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 1000000;
  color: white;
  text-align: left;
  padding: 20px;
}
.project-bod h3{
  font-size: 50px;
}

.project-bod p{
  font-size: 40px;
}

.project-bod a{
  color: white;
}

/*resume section*/

#resume-window{
  width: 80%;
  height: 80%;
}

#resume{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/*media query*/
@media (max-width: 500px) {
  .background-container, #my-picture, .resume-container {
    display: none;
  }
  .main-content{
    position: absolute;
    left: 0;
    top: 0;
  }

  .project-bod{
    padding: 0px;
  }

  .project-bod h3{
    font-size: 16px;
  }

  .project-bod p{
    font-size: 12px;
  }

}