@font-face{
  font-family: Industria;
  src: url("./font/IndustriaLTStd-Solid.otf") format("opentype");
}

h1{
  font-size: 50px;
}

h3{
  font-size: 25px; 
}

a{
  color: black;
}

body{
  font-family: 'Industria';
}

.content-wrapper{
  position: relative;
  width: 100%;
}
.background-container{
  top: 0;
  left: 0;
  position: fixed;
  max-height: 100vh;
  z-index: -1000;
  overflow: hidden;
  height: 100vh
}

#my-picture{
  top: 0;
  max-height: 100vh;
  position: absolute;
  z-index: -100;
}

.main-content{
  position: absolute;
  top: 20px;
  left: 60px;
  
}

.content-fill{
}

#dimmer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  display: none
}

.modal-window {
  position: absolute;
  display: none;
  color: black;
  z-index: 2;
  padding: 50px;
  border-radius: 10px;
  background: grey;
  width: 60%;
  height: 60%;
  overflow: auto;
  padding: 5px;
  font-family: helvetica;
}

#resume{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.project-pic{
  height: 50px;
  width: 50px;
}

.button-container{
  display: block;
}

